<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Note Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div id="app">
    <div class="container">
        <h2 class="text-center mt-3">Note App Using Vue</h2>
        <div class="card card-body"v-if="errortext.length>0">
        <div class="alert alert-danger">
            {{errortext}}
        </div>
            <div class="card card-body"v-if="successtext.length>0">
                <div class="alert alert-success">
                    {{successtext}}
                </div>
        </div>
            <div class="card card-body">
        <div class="row">
            <div class="col-sm-3 align-self-center">
                <input type="text" class="form-control" v-model="title" placeholder="Enter your title">
            </div>
            <div class="col-sm-6">
            <textarea v-model="description" class="form-control" rows="5" cols="30" placeholder="Enter your description"></textarea>
            </div>
            <div class="col-sm-3 align-self-center">
            <button type="button" class="btn-block btn btn-primary" @click="addNote">add note</button>
            </div>
        </div>
        </div>
            <div class="card card-body mt-3 p-3" v-for="(note, index) in notes">
                <p>
                <button class="btn btn-danger" @click="deletenode(index)">+</button>
                </p>
                <h2>{{note.title}}</h2>
                <div>
                    {{note.description  }}
                </div>
            </div>
    </div>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    var app = new Vue({
       el: "#app",
       data: {
           title: " ",
           description: " ",
           notes: [],
           errortext: " ",
           successtext: " "
       },
       mounted(){
           this.notes.push(
               {
                   title: "hello",
                   description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley "
               },
               {
               title: "Selim",
                   description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley "
           }
           )
       },
        methods: {
            addNote() {
                let title = this.title;
                let description = this.description;
                if (title.length > 0 && description.length > 0) {
                    let singenote = {
                        title: title,
                        description: description
                    }
                    this.notes.push(singenote);
                    this.title = "";
                    this.description = "",
                        this.successtext = "Note Added SUccessfully"
                        this.errortext = " "
                } else {
                    this.successtext = " "
                    this.errortext = "plz fill the blank input "
                    return
                }
            },
            deletenode(index){
                this.notes.splice(index, 1);
            }
        }
    });
</script>